# For data manipulation
pandas
numpy

# For data visualization
matplotlib
seaborn
plotly
kaleido

# For download google trends data
pytrends

# For machine learning
xgboost
convertdate
fbprophet
sklearn
scipy
pygam

# For accessing AWS S3
awscli

# For interactive CLI scripts
click

# For code format checking
black

# Dylan's general data science tools
git+https://github.com/earthastronaut/data_science_tools.git@master#egg=data_science_tools
